html{
    background: #87CEEB;
}

.lobby-details{
    position: fixed;
    left: 15%;
}

#lobby-player-name{
    top:2%;
}

.lobby-registered-players{
    position: fixed;
    left: 4%;
    top:4%
}

.lobby-userslist .lobby-col-title{
    width: 14%;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.lobby-userslist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    top:10%;
}

.lobby-file-choicer{
    top:20%;
    width: 80px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}