@keyframes winner_Animation {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html{
    background: #87CEEB;
}

#board-cell-button{
    width:40px;
    height:40px;
}

#statistics{
    position: fixed;
    left: 4%;
    top: 5%;
}

#board{
    position: fixed;
    left: 20%;
    top: 20%;
}

#History {
    height: 120px;
    width: 250px;
    border: 1px solid #000000;
    overflow: auto;
    visibility: hidden;
}

#History History-List{
    left: 0px;
}

.game-label{
    visibility:hidden;
}

#playersDetails {
    top: 3%;
    height: 90px;
    width: 250px;
    border: 1px solid #000000;
    overflow: auto;
    visibility: hidden;
}

#Winner-Button{
    width:40px;
    height:40px;
    animation: winner_Animation 4s infinite;
}