html{
    background: #87CEEB;
}

body{
    font-family: Calibri, sans-serif;
    min-width:500px;
    min-height: 500px;
}

.lobby-details{
    position: fixed;
    left: 11%;
}

#lobby-player-name{
    top:2%;
}

.lobby-registered-players{
    position: absolute;
    top:4%
}

#lobby-games{
    border: 1px solid #000000;
    border-radius: 6px;
}
#lobby-games .lobby-col-title{
    width: 10%;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#lobby-userslist {
    border-collapse: collapse;
    top:10%;
    content: "•";
    color: green;
    font-weight: bold;
}

.lobby-file-choicer{
    top:20%;
    width: 80px;
    float: left;
    margin-right: 4%;
}

#enter-game-button, #view-game-button{
    width: 100%;
    position:fixed;
}

.lobby-boards-title{
    background-color: #b0c0bd;
}

.lobby-boards-game:nth-child(even) {
    background-color: #fab017;
}

.lobby-boards-game:nth-child(odd) {
    background-color: #c5d2ff;
}

#logout-Button {
    position: fixed;
    top:5%;
    left: 90%;
}