html{
    background: #87CEEB;
}

.lobby-details{
    position: fixed;
    left: 15%;
}

#lobby-player-name{
    top:2%;
}

.lobby-registered-players{
    position: fixed;
    top:4%
}

#lobby-games .lobby-col-title{
    width: 10%;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#lobby-userslist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    top:10%;
}

.lobby-file-choicer{
    top:20%;
    width: 80px;
}

#enter-game-button{
    width: 100%;
}

.lobby-boards-title{
    background-color: #3ddadd;
}

.lobby-boards-game:nth-child(even) {
    background-color: #dddddd;
}

.lobby-boards-game:nth-child(odd) {
    background-color: #ff921d;
}